{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            {{.Title}}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {{ $data := .Data }}
        <div style="margin:35px">
            {{ range $key, $value := .Data.Terms.ByCount }}
            <span class="post-item-wrapper">
                <a href="{{ $.Site.LanguagePrefix | absURL }}/{{ $data.Plural }}/{{ $value.Name | urlize }}/">
                    {{ $value.Name }}<sup>{{ $value.Count }}</sup>
                </a>
            </span>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}