<head>
<title>{{.Title}}</title>

{{ $description := .Params.description}}
{{if .IsHome}}
  {{ $description = .Site.Params.description}}
{{end}}

<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
{{ if .Params.description }}<meta name="description" content="{{ .Params.description }}">{{ end }}
{{ if .Params.tags }}<meta name="keywords" content="{{ delimit .Params.tags ", " }}">{{ end }}
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ if .Params.guid }}<link rel="amphtml" href="{{ .Permalink }}amp.html">{{ end }}
{{ range .Translations }}
    <link rel="alternate" hreflang="{{ replace .Language "zh" "zh-Han" }}" href="{{ .Permalink }}">
{{ end }}

<!-- open-graph -->
{{if .Site.Params.enableOpenGraph}}
{{ template "_internal/opengraph.html" . }}
{{end}}

<!-- twitter-cards -->
{{if .Site.Params.enableTwitterCards}}
{{ template "_internal/twitter_cards.html" . }}
{{end}}

<!-- metadata -->

{{ if .Site.GoogleAnalytics }}
{{ template "partials/google_analytics.html" . }}
{{ end }}

<script src="{{"/vendor/js/jquery.min.js" | relURL}}" ></script>
<script src="{{"/vendor/js/popper.min.js" | relURL}}" ></script>
<script src="{{"/vendor/js/bootstrap.min.js" | relURL}}" ></script>
<script src="{{"/vendor/js/smooth-scroll.polyfills.min.js" | relURL}}" ></script>
<link type="text/css" rel="stylesheet" href="{{"/vendor/css/bootstrap.min.css" | relURL}}">
<script src="{{"/vendor/js/vue.min.js" | relURL}}" ></script>

{{if .Site.Params.manifest}}
<link rel="manifest" href="{{.Site.Params.manifest}}">
{{end}}

{{ if .Site.Params.favicon }}
<link rel="icon" href="{{ .Site.Params.favicon }}">
<!-- favicon -->
{{ end }}

{{ $journalCSSoptions := (dict "targetPath" (printf "%s.journal.css" .Language ) "includePaths" (slice (printf "assets/scss/%s" .Language))) }}
{{ $styles_language := resources.Get "scss/journal.scss" | toCSS $journalCSSoptions | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles_language.Permalink }}" integrity="{{ $styles_language.Data.Integrity }}" media="screen">

{{ if not .Site.Params.disableDarkmode }}
{{ $darkCSSoptions := (dict "targetPath" (printf "%s.darkmode.css" .Language ) "includePaths" (slice (printf "assets/scss/%s" .Language))) }}
{{ $darkmode := resources.Get "scss/dark-mode.scss" | toCSS $darkCSSoptions | minify | fingerprint }}
<link rel="stylesheet" href="{{ $darkmode.Permalink }}" integrity="{{ $darkmode.Data.Integrity }}" media="screen">
{{ end }}

<script src="{{.Site.BaseURL}}/js/loadCSS.js"></script>
<script>
  loadCSS("https://fonts.googleapis.com/css?family=Lora|Montserrat|Fira+Mono|Noto+Serif+SC|Material+Icons");
</script>

{{ if .Params.enableMathJax }}
  {{ partial "mathjax.html" . }}
{{ end }}

{{ if and (not (.Params.disableToC) ) (.IsPage) }}
  {{ if .Params.disableAutoCollapse }}
    <script src="{{.Site.BaseURL}}/js/toc.js"></script>
  {{ else }}
    <script src="{{.Site.BaseURL}}/js/toc-collapse.js"></script>
  {{ end }}
{{ end }}

{{ if and (.Site.Params.enableGitalk) (.IsPage) }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script src="{{"/vendor/js/md5.min.js" | relURL}}"></script>
<script>
  var gitalk = new Gitalk({
  clientID: '{{ .Site.Params.Gitalk.client_id }}',
  clientSecret: '{{ .Site.Params.Gitalk.client_secret }}',
  repo: '{{ .Site.Params.Gitalk.repo }}',
  owner: '{{ .Site.Params.Gitalk.owner }}',
  admin: ['{{ .Site.Params.Gitalk.owner }}'],
  id: md5(location.pathname),
  distractionFreeMode: 'false'
  });
  window.onload = function () {
        gitalk.render('gitalk-container')
  }
</script>
{{ end }}

{{ if and (.Site.Params.livereId) (.IsPage) }}
<script type="text/javascript">
$(
  (function(d, s) {
      var j, e = d.getElementsByTagName(s)[0];

      if (typeof LivereTower === 'function') { return; }

      j = d.createElement(s);
      j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
      j.async = true;

      e.parentNode.insertBefore(j, e);
  })(document, 'script'));
</script>
{{ end }}

{{ if and (.Site.Params.enableValine) (.IsPage) }}
<script src='https://unpkg.com/valine@1.4.5/dist/Valine.min.js'></script>
{{ end }}

</head>