<div ref="sideContainer" class="side-container">
    {{ if eq .Title .Site.Title}}
    <a class="a-block nav-head active" href="{{.Site.BaseURL}}">
    {{ else }}
    <a class="a-block nav-head false" href="{{.Site.BaseURL}}">
    {{ end }}
        <div class="nav-title">
            {{.Site.Title}}
        </div>
        {{ with .Site.Params.subtitle }}
        <div class="nav-subtitle">
            {{.}}
        </div>
        {{ end }}
    </a>

    <div class="nav-link-list">
        {{ $current := .Permalink | absLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
            <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
            {{if hasPrefix  $current (.URL|absLangURL)}}
                {{$actived = "active"}}
            {{end}}
            {{ if .HasChildren }}
            <parent name="{{ .Name }}" type="nav-link-item {{$actived}}">
                {{ range .Children }}
                    <li><a href="{{ .URL }}"> {{ .Name }}</a></li>
                {{ end }}
            </parent>
            {{ else }}
            <!--<a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">-->
            <a class="a-block nav-link-item {{ $actived }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }}
        {{ end }}
        
        <div class="nav-link-item">
            <a href="{{ .Site.Params.linksGithub }}" target="_blank"><i title="Github" class="fab fa-github"></i></a>
            <a href="{{ .Site.Params.linksTelegram }}" target="_blank"><i title="Telegram" class="fab fa-telegram"></i></a>
            <a href="{{ .Site.Params.linksFacebook }}" target="_blank"><i title="Facebook" class="fab fa-facebook"></i></a>
            <a href="{{ .Site.Params.linksTwitter }}" target="_blank"><i title="Twitter" class="fab fa-twitter"></i></a>
            <a href="{{ .Site.Params.linksInstagram }}" target="_blank"><i title="Instagram" class="fab fa-instagram"></i></a>
            <a href="{{ .Site.Params.linksLinkedIn }}" target="_blank"><i title="LinkedIn" class="fab fa-linkedin"></i></a>
            <a href="{{ .Site.Params.linksWeibo }}" target="_blank"><i title="Weibo" class="fab fa-weibo"></i></a>
            <a href="{{ $.Site.LanguagePrefix | absURL }}/index.xml" target="_blank"><i title="Github" class="fas fa-rss"></i></a>
        </div>
    </div>

    <div class="nav-footer">
        {{partial "copyright.html" .}}
    </div>
    
</div>