<a href="{{ .Site.Params.linksGithub }}" target="_blank"><i title="Github" class="fab fa-github"></i></a>
<a href="{{ .Site.Params.linksTelegram }}" target="_blank"><i title="Telegram" class="fab fa-telegram"></i></a>
<a href="{{ .Site.Params.linksFacebook }}" target="_blank"><i title="Facebook" class="fab fa-facebook"></i></a>
<a href="{{ .Site.Params.linksTwitter }}" target="_blank"><i title="Twitter" class="fab fa-twitter"></i></a>
<a href="{{ .Site.Params.linksInstagram }}" target="_blank"><i title="Instagram" class="fab fa-instagram"></i></a>
<a href="{{ .Site.Params.linksLinkedIn }}" target="_blank"><i title="LinkedIn" class="fab fa-linkedin"></i></a>
<a href="{{ .Site.Params.linksWeibo }}" target="_blank"><i title="Weibo" class="fab fa-weibo"></i></a>
<a href="{{ $.Site.LanguagePrefix | absURL }}/feed.xml" target="_blank"><i title="Feed" class="fas fa-rss"></i></a>
